.wrapper {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    position: relative;
}

button.mic-button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;
}

.message {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 90%;
    left: 0;
    right: 0;
    top: 20px;
    border: dotted 1px red;
}

.content {
    width: 70%;
    height: 90%;
    overflow: scroll;
    list-style: none;
    top: 20px;
    bottom: 20px;
    margin: 20px;
    right: 20px;
    left: 20px;
}

.status {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    position: absolute;
}